<%= form_with model: @book, local: true do |f| %>
    <div>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
      <% @book.errors.full_messages_for(:title).each do |message| %>
          <div><%= message %></div>
        <% end %>
    </div>
  
    <div>
      <%= f.label :content %><br>
      <%= f.text_area :content %>
      <% @book.errors.full_messages_for(:content).each do |message| %>
          <div><%= message %></div>
        <% end %>
    </div>
    
    <div>
    <%= f.label :pages %><br>
    <%= f.text_field :pages %>
    <% @book.errors.full_messages_for(:pages).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <fieldset>
  <legend>Author:</legend>
  <%= f.fields_for :authorbooks do |author| %>
    <%= render "authorbook_fields", f: author %>
  <% end %>
  <%= link_to_add_fields "Add Author", f, :authorbooks %>
</fieldset>

    

    <div>
      <%= f.submit %>
    </div>
  <% end %>